*{
  margin: 0;
  padding: 0;
}

html,
body{
  font-size: 25px;
  background-image: url(./images/pexels-cats-coming-707582.jpg) ;
  
  
}
h5{
  justify-content: center;
  display: flex;
  align-items: center;
}
